.preloader {
    position: fixed;
    top: 0;
    left: 0;
    animation: spinz 1.35s linear infinite;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
}

.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.35s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); 
    opacity: 1;}
    50% { transform: rotate(360deg); 
    opacity: 1;}
    75% { transform: rotate(180deg); 
    opacity: 1;}
    100% { transform: rotate(0deg); 
    opacity: 0; }
}

@keyframes spinz {
    0% { opacity: 1;}
    50% { opacity: 1;}
    75% { opacity: 1;}
    100% { opacity: 0; }
}
/* Fim do Preloader */