body{
    background-color: #e9e9e9;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-size: cover;
}

