body {
    background-color: #e9e9e9;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    height: 700px;
    margin: auto;
    padding: 20px;
    border: #fafafa00 2px solid;
}

.navbar {
    background-color: #f8f9fa;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
} 

