body {
    background-color: #e9e9e9;
    font-family: 'Merriweather', sans-serif;

    background-size: cover; 
}  

.navbar {
    background-color: #f8f9fa;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
} 

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: auto;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;

}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}