body{
    background-color: #e9e9e9;
    font-family: 'Merriweather', sans-serif;

    background-size: cover;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: auto;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;

}
p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

ol{
    margin-left: 20px;
    margin-bottom: 20px;
}

li{
    margin-bottom: 20px;
}

ol li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 5%;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 2%;
    background-color: #3498db;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
    background-color: #fff;
}

