body{
    background-color: #e9e9e9;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.container-header {
    height: auto;
    margin-top: 0%;
}
/* Navegação estilo menu*/
.container-nav {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(197, 77, 117);
    margin-top: 0%;
}

.nav-list {
    display: inline-flex;
    gap: 50px;
    padding: 10px;
}

.nav-list li a{
    margin-top: 0px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}
/* Fim navegação estilo menu*/
/* Estilo do formulário de login*/
.container-main {
    display: inline-flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 500px;
}

.form-login {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    height: auto;
    margin-left: 20px;

}
h1 {
    text-align: center;
    color: rgb(197, 77, 117);
}

.container-label{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    float: right;
    color: rgb(197, 77, 117);
    width: auto;
    height: auto;
    gap: 10px;
    margin-left: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-top: 5px;
}

.imgladod {
    margin-right: 2px;
    border-radius: 15px;
}

.btn-cadastro {
    background-color: rgb(197, 77, 117);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 95px;
    width: 150px;
}

.btn-cadastro:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    transition: 0.5s;
    border-radius: 5px;
}
/* Fim estilo do formulário de login*/
/*rodapé*/
footer {
    background-color: rgba(197, 77, 117, 0.815);
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
}
footer p {
    margin: 5px;
}
footer img {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    transition: 0.5s;
}
/*fim rodapé*/

/*responsividade*/
@media screen and (max-width: 500px) {
    .container-header {
        height: auto;
        margin-top: 0%;
    }
    body{
        background-color: #e9e9e9;
        font-family: "Merriweather", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:"wdth" 100;
        background-size: cover;
        width: 550px;
        height: 100%;    
        margin: 0;
    }
    /*menu responsivo*/
    .container-nav {
    width: 100%;
    height: 170px;
    background-color: rgb(197, 77, 117);
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0px;       
    }

    .nav-list {
    display: inline-flex;
    gap: 25px;
    padding: 10px;
    flex-direction: column;  
    }

    .nav-list li a{      
    margin-top: 0px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    }

    a:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    }
    /*corpo cadastro*/
    .container-main {
    display: inline-flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

    .form-cadastro {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    padding: 10px;    
    width: auto;
    height: auto;
    margin-left: 20px;
    }

    .container-label{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bold;
    float: right;
    color: rgb(197, 77, 117);
    width: auto;
    height: auto;
    gap: 10px;
    margin-left: 20px;
}

    .imgladod{
    display: flex;
    margin-right: 2px;
    border-radius: 15px;
    left: -10px;
    width: 350px;
    height: auto;
    align-items: center;
    justify-content: center;
    }

    .btn-cadastro {
    background-color: rgb(197, 77, 117);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 95px;
    width: 150px;
    }

    .btn-cadastro:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    transition: 0.5s;
    border-radius: 5px;
    }

    /*rodape*/
    footer {
    margin-top: 100px;
    background-color: rgba(197, 77, 117, 0.815);
    text-align: center;
    padding: 1px;
    bottom: 0;
    width: 100%;
    color: black;
    display: flex;
    gap: 1px;
    position:static;
    flex-direction: column;
}

footer p {
    margin-top: 5px;
    margin: 5px;
}
footer img {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    transition: 0.5s;
}
}