body{
    background-color: #e9e9e9;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.container-header {
    height: auto;
    margin-top: 0%;
}
/* Navegação estilo menu*/
.container-nav {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(197, 77, 117);
    margin-top: 0%;
}

.nav-list {
    display: inline-flex;
    gap: 50px;
    padding: 10px;
}

.nav-list li a{
    margin-top: 0px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}
/* Fim navegação estilo menu*/
/* Estilo do formulário de cadastro*/
.container-main {
    display: inline-flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 500px;
}

.form-cadastro {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    height: auto;
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: rgb(197, 77, 117);
}

.container-label{
    display: inline-flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    float: right;
    color: rgb(197, 77, 117);
    width: auto;
    height: auto;
    gap: 5px;
    margin-left: 10px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-top: 5px;
}

.btn-cadastro {
    background-color: rgb(197, 77, 117);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 95px;
    width: 150px;
}

.btn-cadastro:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    transition: 0.5s;
    border-radius: 5px;
}

footer {
    background-color: rgba(197, 77, 117, 0.815);
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: black;
}
footer p {
    margin: 5px;
}
footer img {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    transition: 0.5s;
}
