.pergunta { 
    display: none; 
}

.pergunta.ativa { 
    display: block; 
}

.progresso {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.progresso-realizado {
    height: 100%;
    width: 0;
    background-color: #76c7c0;
    border-radius: 10px;
    transition: width 0.5s;
}
.progresso-realizado[data-done="20"] {
    width: 20%;
}
.progresso-realizado[data-done="40"] {
    width: 40%;
}
.progresso-realizado[data-done="60"] {
    width: 60%;
}
.progresso-realizado[data-done="80"] {
    width: 80%;
}
.progresso-realizado[data-done="100"] {
    width: 100%;
}
