body {
    background-color: #e9e9e9;
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar {
    background-color: #f8f9fa;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
} 

.pergunta { 
    display: none; 
}

.pergunta.ativa { 
    display: block; 
}

.progresso {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.progresso-realizado {
    height: 100%;
    width: 0;
    background-color: #76c7c0;
    border-radius: 10px;
    transition: width 0.5s;
}
.progresso-realizado[data-done="20"] {
    width: 20%;
}
.progresso-realizado[data-done="40"] {
    width: 40%;
}
.progresso-realizado[data-done="60"] {
    width: 60%;
}
.progresso-realizado[data-done="80"] {
    width: 80%;
}
.progresso-realizado[data-done="100"] {
    width: 100%;
}
