body{
    background-color: #e9e9e9;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.container-header {
    height: auto;
    margin-top: 0%;
}
/* Navegação estilo menu*/
.container-nav {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(197, 77, 117);
    margin-top: 0%;
}

.nav-list {
    display: inline-flex;
    gap: 50px;
    padding: 10px;
}

.nav-list li a{
    margin-top: 0px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}
/* Fim navegação estilo menu*/
/* Estilo do formulário de cadastro*/
.container-main {
    display: inline-flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 450px;
    width: 900px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    color: rgb(197, 77, 117);
}
h2 {
    text-align: center;
    color: rgb(197, 77, 117);
}
h3 {
    text-align: center;
    color: rgb(197, 77, 117);
}

.imgsobre {
    margin-left: 150px;
    border-radius: 15px;
}

.sobre {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    height: auto;
    margin-left: 20px;
}

footer {
    background-color: rgba(197, 77, 117, 0.815);
    text-align: center;
    padding: 1px;
    bottom: 0;
    width: 100%;
    color: black;
}
footer p {
    margin: 5px;
}
footer img {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    transition: 0.5s;
}

@media screen and (max-width: 500px) {
        .container-header {
        height: auto;
        margin-top: 0%;
    }
    body{
        background-color: #e9e9e9;
        font-family: "Merriweather", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:"wdth" 100;
        background-size: cover;
        width: 500px;
        height: 100%;    
        margin: 0;
    }
    /*menu responsivo*/
    .container-nav {
    width: 100%;
    height: 170px;
    background-color: rgb(197, 77, 117);
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0px;       
    }

    .nav-list {
    display: inline-flex;
    gap: 25px;
    padding: 10px;
    flex-direction: column;  
    }

    .nav-list li a{      
    margin-top: 0px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    }

    a:hover {
    background-color: antiquewhite;
    color: rgb(197, 77, 117);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    }

    .container-main {
    display: inline-flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 20px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;    
    }

        footer {
    margin-top: 100px;
    background-color: rgba(197, 77, 117, 0.815);
    text-align: center;
    padding: 1px;
    bottom: 0;
    width: 100%;
    color: black;
    display: flex;
    gap: 10px;
    position:static;
    flex-direction: column;
}

footer p {
    margin-top: 5px;
    margin: 5px;
}
footer img {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    transition: 0.5s;
}

.imgsobre {
    width: 250px;
    height: 250px;
}

.sobre {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: auto;
    margin-left: 0px;
}
}